@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    border: 0;
    list-style: none;
    text-decoration: none;
}

body {
    background-color: var(--black-color);
    background-color: var(--white-color);
    display: flex;
    justify-content: center;
    padding-block: 10rem 2rem;
}

body::-webkit-scrollbar {
    width: 6px;
}

body::-webkit-scrollbar-track {
    background-color: var(--black-color);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--white-color);
}

section {
    height: 100vh;
}


:root {
    --primary-color: #262626;
    --secondary-color: rgb(28, 30, 37);
    --text-color: #ccccc6;
    --accent-green: #075f4f;
    --accent-red: #b71d4a;
    --black-color: #000000;
    --white-color: #ffffff;
    --shadow: 0 0 10px rgba(0, 0, 0, 0, 4);
    --border-radius: 10px;
    --border-red: 1px solid var(--accent-red);
    --border-green: 1px solid var(--accent-green);
    --font-small: 20px;
    --font-medium: 25px;
    --font-large: 30px;
}

.dark-mode-variables {
    --primary-color: #ccccc6;
    --secondary-color: rgb(227, 225, 218);
    --text-color: #262626;
    --accent-green: #075f4f;
    --accent-red: #b71d4a;
    --black-color: #ffffff;
    --white-color: #000000;
    --shadow-shadow: 0 0 10px rgba(265, 256, 256, 0, 4);
    --border-radius: 10px;
    --border-red: 1px solid var(--accent-red);
    --border-green: 1px solid var(--accent-green);
    --font-small: 14px;
    --font-medium: 16px;
    --font-large: 18px;
}

.material-symbols-rounded {
    font-variation-settings:
        'FILL' 0,
        'wght' 100,
        'GRAD' 0,
        'opsz' 24
}

/* start shortcuts  */

.flex {
    display: flex;
}

.grid {
    display: grid;
}

.flex-column {
    flex-direction: column;
}

.j-center {
    justify-content: center;
}

.j-between {
    justify-content: space-between;
}

.a-center {
    align-items: center;
}

.a-between {
    align-items: space-between;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.top {
    top: 0;
}

.bottom {
    bottom: 0;
}

.left {
    left: 0;
}

.right {
    right: 0;
}

.inset {
    inset: 0;
}

.z-high {
    z-index: 3;
}

.z-mid {
    z-index: 2;
}

.z-low {
    z-index: 1;
}

.pad {
    padding: 2rem;
}

.pad-inline {
    padding-inline: 1rem;
}

.pad-block {
    padding-block: 2rem;
}

.gap {
    gap: 1rem;
}

.margin {
    margin: 2rem;
}

.text-center {
    text-align: center;
}

.height {
    height: 3.5rem;
}

.w-full {
    width: 100%;
}

.h-full {
    height: 100%;
}

.full {
    height: 100%;
    width: 100%;
}

.abs-mid-y {
    top: 50%;
    transform: translateY(-50%);
}

.abs-mid-x {
    left: 50%;
    transform: translateX(-50%);
}


.font-sm {
    font-size: var(--font-small);
}

.font-md {
    font-size: var(--font-medium);
}

.font-lg {
    font-size: var(--font-large);
}

.bold {
    font-weight: 600;
}

.light {
    font-weight: lighter;
}

.radius {
    border-radius: var(--border-radius);
}

.radius-round {
    border-radius: 50%;
}

.radius-vh {
    border-radius: 100vh;
}

.glass {
    color: transparent;
    background-color: transparent;
}

.black-bg {
    background-color: var(--black-color);
}

.white-bg {
    background-color: var(--white-color);
}

.white-clr {
    color: white;
}

.black-clr {
    color: black;
}

.green-bg {
    background-color: var(--accent-green);
}

.green-clr {
    color: var(--accent-green);
}

.red-bg {
    background-color: var(--accent-red);
}

.red-clr {
    color: var(--accent-red);
}

.border-green {
    border: var(--border-green);
}

.border-red {
    border: var(--border-red);
}

.terms {
    color: rgb(3, 3, 179);
}

.shadow {
    box-shadow: var(--shadow);
}

.pointer {
    cursor: pointer;
}

/* finished shortcuts  */

/* ------------------------------------ */

/* .login section starts  */
.login-wrapper {
    width: 30%;
}

.login-wrapper > img {
    width: 12rem;
    height: 3rem;
    object-fit: cover;
    margin-bottom: 2.5rem;
}

form {
    gap: 1rem;
}

form input {
    width: 100%;
    border: 1px solid var(--accent-green);
    height: 3.5rem;
    padding: 0 0 0 1rem;
}

.submit {
    background-color: var(--accent-red);
    border: 0;
    transition: all 0.3s ease;
}

.submit:hover {
    background-color: var(--accent-green);
}

form img {
    width: 2rem;
    object-fit: contain;
}
